.gitignore
build_log
prepgit
buildx*
update*
docker-compose-build.yml
docker-bake*.hcl
Dockerfile*test*
Dockerfile.ubuntu.libssh
root_pg14_test
*.war
*.tar.gz
guacamole-branding-1.5.0.jar
guacamole-branding-1.5.1.jar
extensions/
config/
